@model WildDenis.Models.Registration;
@{
    Layout = "~/Views/Shared/_LayoutNotAuthorized.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
</head>
<body>
    <div class="registrationDiv">
        <form asp-controller="Access" asp-action="Registrate" method="post" enctype="multipart/form-data">
            <h1>Регистрация</h1>

            <input type="text" placeholder="логин" asp-for="nickName" autocomplete="off" required maxlength="20" minlength="2"><br>
            <input type="email" placeholder="email" asp-for="email" autocomplete="off" required maxlength="50" minlength="6"><br>
            <input type="text" placeholder="фамилия" asp-for="surname" autocomplete="off" required maxlength="30" minlength="2"><br>
            <input type="text" placeholder="имя" asp-for="nameOfUser" autocomplete="off" required maxlength="20" minlength="1"><br>
            <input type="text" placeholder="отчество" asp-for="secName" autocomplete="off" required maxlength="20" minlength="1"><br>
            <input type="text" placeholder="+000(00)000-00-00" asp-for="phoneNumber" autocomplete="off" required maxlength="17" minlength="17"><br>

            <select asp-for="roleOfUser">
                <option>Работодатель</option>
                <option>Соискатель</option>
            </select><br>

            <label for="file" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i> Выберите файл
            </label>
            <input id="file" type="file" name="uploadedFile" multiple accept=".jpg, .jpeg, .png" /><br>
            <input type="password" placeholder="пароль" asp-for="pass" required maxlength="20" minlength="5"><br>
            <input type="password" placeholder="повтор пароля" asp-for="passRepeat" required maxlength="20" minlength="5"><br>


            <button class="button8" type="submit">Зарегистрироваться</button><br>

            @if (ViewData["ValidateMessage"] != null)
            {
                    <br />
                    <label>@ViewData["ValidateMessage"]</label>
            }

        </form>
    </div>
</body>
</html>
