@using LayerDAL.Repository;
@{
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <script>




    </script>
</head>
<body>

    <div class="registrationDiv">

        <div class="welcome-text">
            <h1>Добро пожаловать на наш сайт по поиску вакансий!</h1>
            <p>Найдите свою идеальную работу или разместите вакансию с нами.</p>
        </div>
        <br>
        <br>
        <div class="map-info">
            <div class="map-image">
                <img src="~/img/BelarusMap.jpg" alt="Фотография карты">
            </div>
            <div class="map-text">
                <h2>Информация</h2>
                <p>
                    Я рад рассказать тебе о нашем сервисе, который на данный момент находится в стадии разработки и доступен только в Беларуси. Несмотря на то, что он все еще находится в начальной фазе, мы стремимся предложить пользователю максимальное удобство и функциональность.
                    <br>
                    Наша команда разработчиков усердно работает над совершенствованием сервиса, чтобы обеспечить лучший опыт использования для всех наших пользователей. Мы учитываем отзывы и предложения, чтобы учесть все потребности и ожидания.
                </p>
            </div>
        </div>


    </div>




</body>
</html>
