@using LayerDAL.Repository;
@{
    Layout = "~/Views/Shared/_LayoutTester.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <script>




    </script>
</head>
<body>

    <div class="contentPlug">





    </div>




</body>
</html>
